/*   $Id: icons.css,v 1.2 2006/10/23 04:36:43 zirafa Exp $ */

/**
*   ICON STYLES 
*
*  Puts all the references to icon images in one place.
*/

/* Status and Error icons */
div.status {
  background-image: url(images/dialog-information_i.gif);
  background-repeat: no-repeat;
  background-position: .5em 50%;
}

div.error {
  background-image: url(images/dialog-warning.gif);
  background-repeat: no-repeat;
  background-position: .5em 50%;
}
