@import url(lbb_ie7.css);

#sidebar-left select{
  height:20px;
}

#sidebar-left input#edit-submit{
  width:55px
}
.top10-title{
	padding-top:3px;	
}
.content-info-wrapper .forum-content, .comment-content{
	word-wrap:break-word;
}
.main-content h1.title.sIFR-replaced{
	position:static;
}
