
* {padding:0; margin:0; border:none;}

body, html {
margin:0;
padding:0;
background:#f7f7f7;
color:#5c5c5c;
}

#container {
margin: 0 auto;
padding: 20px 0;
width: 930px;
overflow:hidden; 
background: transparent url(images/bg-ad_bar.gif) no-repeat top right;
}

#holds-content {
background:#fff url(images/bg_main.jpg) no-repeat top right; 
margin: 0;
padding: 0 23px 0 0;
width: 735px;
float: left;
border: 1px solid #d6d6d6;
overflow:hidden;
}

#main {
display:block;
margin:0 auto;
padding:0 0 10px 20px;
text-align:left;
width:735px;
float: left;
}

#header {
display:block;
/* height:75px; */
width:410px;
padding: 10px 0 0 0;

}
body#fr #header {
  width: 469px;
}

a#language_switch{
background: url(images/en_francaise.gif) no-repeat 0 0;
border:0 none;
display:block;
padding: 0;
width:98px;
line-height:14px;
text-decoration:none;
float:right;
}
a#language_switch:hover{
background: url(images/en_francaise.gif) no-repeat 0 -14px;
text-decoration:none;
}

body#fr a#language_switch{
background: url(images/in_english.gif) no-repeat 0 0;
}
body#fr a#language_switch:hover{
background: url(images/in_english.gif) no-repeat 0 -14px;
}

#intro {
font-family:georgia;
font-size: 16px;
line-height:200%;
padding: 30px 0 0 35px;
margin: 0;
text-align:left;
width:410px;
/* height: 268px; */
}

#intro p{
font-family:georgia, serif;
font-size:16px;
line-height:30px;
padding: 0 0 30px 0;
margin: 0;
text-align: left;
width: 370px;
}


#signup a{
font-family: arial, sans;
color: #72245f;
text-decoration: underline;
font-size: 23px;
line-height: 28px;
padding: 0;
margin: 0;
text-align:left;
width:350px;
}


#feature_area {
border-top:1px dotted #9E9E9E;
display:block;
float:right;
margin:0;
padding:20px 0 0 30px;
width:680px;
}


#search {
background: transparent url(images/search.jpg) no-repeat scroll 0 0;
border:0;
height: 165px;
width: 200px;
float: left;
text-align: right;
}

body#fr #search {
background: transparent url(images/search_fr.jpg) no-repeat scroll 0 0;
}

#vitamin-city-landing-search-form {
margin-top: 70px;
padding: 0px;
}

#edit-filter0 {
width: 155px;
height: 15px;
background: #fef7fd;
border: 1px solid #dddddd;
font-family: arial, sans serif;
font-size: 12px;
color: #444;
padding: 1px;
}

#edit-filter0, #edit-submit, #edit-city-wrapper {
  margin-right: 25px;
  margin-bottom: 7px;
}

#edit-submit {
width: 75px;
height: 17px;
background: #eee;
border: 1px solid #dddddd;
font-family: arial, sans serif;
font-size: 0.6em;
color: #444;
text-transform: uppercase;
}

body#fr #edit-submit {
width: 75px;
}

#edit-submit:hover {
  background: #ddd;
  border-color: #ccc;
}

#edit-city-wrapper {
padding: 0px;
}

#edit-city-wrapper select {
width: 100px;
border: 1px solid #dddddd;
font-family: arial, sans serif;
font-size: 0.8em;
color: #444;
}


#dose {
width: 195px;
float: left;
padding: 0 0 0 15px;
line-height: 19px;
}


#dose h1 {
text-transform: uppercase;
font-family: georgia, serif;
color: #72245f;
font-size: 20px;
line-height:19px;
font-weight: normal;
margin: 0;
padding: 0;
}


#dose h2 {
text-transform: uppercase;
font-family: arial narrow, sans serif;
color: #72245f;
font-size: 10px;
line-height:19px;
letter-spacing: 1px;
margin: 0;
padding: 0;
}

/*
#dose p {
text-transform: uppercase;
letter-spacing: 1px;
font-family: georgia, serif;
font-size: 10px;
color: #5c5c5c;
line-height:16px;
}
*/
#dose .read_more a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: georgia, serif;
  font-size: 1em;
  color: #72245f;
  text-decoration: none;
}
a, a:link, a:active, a:visited { 
	color: #A6519B;
	text-decoration: none;
}

#footer {
clear:both;
width:760px;
margin: 0;
padding: 30px 0 20px 0;
}

#footer div {
font-family: georgia, serif;
font-size: 0.6em;
color: #6d6d71;
letter-spacing: 1px;
text-align: center;
}
#footer a:link, #footer a:visited, #footer a:active, #footer a:hover {
	color: #6D6D71;
	text-decoration: none;
}
#copyright {
	padding: 20px 0;
}

ul {
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#city_links {
	width: 237px;
	float: right;
	margin: 0;
	padding: 0 13px 0 0;
}
#city_links .title {
	padding:0;
	font-size:12px;
	line-height:12px;
	background: url(images/select.gif) no-repeat scroll left top;
	display:block;
	height:27px;
	width:230px;
}
body#fr #city_links .title {
	background: url(images/select_fr.gif) no-repeat scroll left top;
}
#city_links a {
width: 237px;
height: 88px;
border: 0;
margin: 0;
padding: 0;
display: block;
}
#city_links a.montreal { background: url(images/city_links_montreal.gif) no-repeat 0 0; }
#city_links a.montreal:hover { background: url(images/city_links_montreal.gif) no-repeat 0 -88px; }
#city_links a.montreal-fr { background: url(images/city_links_montreal-fr.gif) no-repeat 0 0; }
#city_links a.montreal-fr:hover { background: url(images/city_links_montreal-fr.gif) no-repeat 0 -88px; }
#city_links a.toronto { background: url(images/city_links_toronto.gif) no-repeat 0 0; }
#city_links a.toronto:hover { background: url(images/city_links_toronto.gif) no-repeat 0 -88px; }
#city_links a.calgary { background: url(images/city_links_calgary.gif) no-repeat 0 0; }
#city_links a.calgary:hover { background: url(images/city_links_calgary.gif) no-repeat 0 -88px; }
#city_links a.vancouver { background: url(images/city_links_vancouver.gif) no-repeat 0 0; }
#city_links a.vancouver:hover { background: url(images/city_links_vancouver.gif) no-repeat 0 -88px; }

#feature {
float:right;
width: 230px;
padding: 0;
}

.do_not_display, #dropdown {
	display: none;
}
/* copied over from style.css:  */
div.daily-dose p.dose-intro {
	font-size: 10px;
	letter-spacing: 0.12em;
	line-height: 16px;
	margin-bottom: 8px;
	padding: 0;
	text-transform: uppercase;
}
div.daily-dose p {
	color: #1A1A1A;
	font-family: georgia,times,serif;
	font-size: 13px;
	line-height: 20px;
	padding: 0;
}
/* video thickbox */
#vd_Video_Thickbox {
  display: none;
}
#vd_Video_Inner {
  padding: 0 20px 25px 20px;  
}
.vdicon {
  outline: none;
}

