div#inner-main {
	overflow: hidden;
}

.node .content h3.lbb_subtitle {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px !important;
}

div#lbb_body {
	width: 515px;
}

div.lbb_listing {
	margin-top: 10px;
}

div#lbb_categories {
	width: 514px;
}

div#lbb_mainimg {
	width: 512px;
}
